apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
data:
  Corefile: |
    .:53 {
        errors
        health {
          lameduck 5s
        }
        ready
        kubernetes cluster.local in-addr.arpa ip6.arpa {
          pods insecure
          fallthrough in-addr.arpa ip6.arpa
          ttl 30
        }
        prometheus :9153
        forward . {{ .Values.init_my_k8s.vip_pihole }} 8.8.8.8 {
          health_check 5s
          max_fails 2
          policy sequential
        }
        cache 30
        loop
        reload
        loadbalance
    }
