---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: bootstrapp-app
  namespace: argo-cd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: argo-cd
  project: default
  source:
    path: argo-cd/bootstrap
    repoURL: {{ argo_bootstrap_repo }}
    targetRevision: HEAD
    helm:
      parameters:
      - name: spec.source.repoURL
        value: {{ argo_bootstrap_repo }}
{% for param in chart_parameters %}
      - name: init_my_k8s.{{ param }}
        value: {{ chart_parameters[param] }}
{% endfor %}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
